@font-face {
    font-family: 'Open Sans';
    src: url('OpenSans-Bold.eot');
    src: url('OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('OpenSans-Bold.woff2') format('woff2'),
        url('OpenSans-Bold.woff') format('woff'),
        url('OpenSans-Bold.ttf') format('truetype'),
        url('OpenSans-Bold.svg#OpenSans-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('OpenSans-Light.eot');
    src: url('OpenSans-Light.eot?#iefix') format('embedded-opentype'),
        url('OpenSans-Light.woff2') format('woff2'),
        url('OpenSans-Light.woff') format('woff'),
        url('OpenSans-Light.ttf') format('truetype'),
        url('OpenSans-Light.svg#OpenSans-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('OpenSans-BoldItalic.eot');
    src: url('OpenSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('OpenSans-BoldItalic.woff2') format('woff2'),
        url('OpenSans-BoldItalic.woff') format('woff'),
        url('OpenSans-BoldItalic.ttf') format('truetype'),
        url('OpenSans-BoldItalic.svg#OpenSans-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Open Sans';
    src: url('OpenSansLight-Italic.eot');
    src: url('OpenSansLight-Italic.eot?#iefix') format('embedded-opentype'),
        url('OpenSansLight-Italic.woff2') format('woff2'),
        url('OpenSansLight-Italic.woff') format('woff'),
        url('OpenSansLight-Italic.ttf') format('truetype'),
        url('OpenSansLight-Italic.svg#OpenSansLight-Italic') format('svg');
    font-weight: 300;
    font-style: italic;
}

/*Body*/
/* 
    Global Att */
body {
    background-color: black;  
    box-sizing: border-box;
    display: flex; 
    flex-direction: column; 
    align-content: center;
    justify-content: center; 
    min-height: 100vh;
    max-width: 100%;
    font-size: 16px;
    font-family: 'Open Sans';
    
} 

img {
    height: auto;
    max-width: 100%;
}
      
/* 
    Global Att */




.boxone {
    float: left;
    width: 20%; 
    padding: 100px; 
    min-height: auto;
    min-width: auto;
} 

.logo-pic {
    range: 5;
}
.loading{
    display: none;
    width: 30px;
    position: absolute;

}

.boxtwo {
    display: flex;
    color: white;
    align-items: center;
    margin-left: 22%;
}
.img {
    display: flex;
}
 .p {
  align-content: center;  

} 

.selectors {
    background: white;
    text-align: center;
    width: 150px;
}

 .boxthree {
    border-style: solid;
    border-width: 100%;
    border-radius:5px;
    height: 150px;
} 
.articles{
    color:white;
}


.boxfour {    
    padding-left: 50px;
    padding: 50px;   
}

.footer-txt {
    font-size: 20px;
    color: gray;
    text-transform: uppercase;
}


/* for desktop */
@media only screen and (min-width: 1000px){
    body {
        background-color: black;
        font-size: 16px;
    }


    .footer-txt {
        text-align: left;
    }
}

/* for tablet */
@media only screen and (max-width: 600px){
    body {
    background-color: black;
    font-size: 14px;
    }

    .footer-txt {
        text-align: center;
        font-size: 16px
    }
}

