/*Body*/
/* 
Global Att */
body {
  background-color: black;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  min-height: 100vh;
  max-width: 100%;
  font-size: 16px;
  font-family: "Open Sans";
}

/* 
Global Att */
// logo starts
.boxone {
  padding: 100px;
  min-height: auto;
  min-width: auto;
}

.logo-pic {
  width: auto;
}

// logo ends

// loader starts
.loader {
  border-top: 16px solid blue;
  border-right: 16px solid green;
  border-bottom: 16px solid red;
  border-left: 16px solid pink;
  border-radius: 40%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
  position: relative;
  display: inline-flex;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
//loader ends

//selection box start

.boxtwo {
  display: flex;
  color: white;
  padding-left: 30%;
}

h1 {
  text-align: center;
  font-size: inherit;
}

.selectors {
  background: white;
  text-align: center;
  width: 150px;
  font-family: "Open Sans";
}

//selection ends

//articles starts
.boxthree {
  @include tablet {
    display: flex;
    flex-wrap: wrap;
  }
}

.articles {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: auto;
  img {
    height: 50vh;
    border-radius: 30px;
  }
  @include tablet {
    flex-direction: row;
    li {
      flex: 1 0 50%;
    }
  }
  @include desktop {
    li {
      flex: 1 0 25%;
    }
  }
}

.art-content {
  position: relative;

  @include tablet {
  }
  @include desktop {
  }
}

.articles img {
  width: 100%;
}
.text-content {
  position: absolute;
  bottom: 0;
}

p {
  color: white;
  text-decoration-line: none;
  text-align: center;
  margin: auto;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  padding: 8px;
}
// articles end

// footer starts
.boxfour {
  padding: 50px;
}

h2 {
  text-align: center;
  font-size: 10px;
  position: sticky;
  color: gray;
  text-transform: uppercase;
}
//footer ends

// M.Q
