/*Body*/
/* 
Global Att */
body {
  background-color: black;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  min-height: 100vh;
  max-width: 100%;
  font-size: 16px;
  font-family: "Open Sans";

  @include tablet{
    font-size: 16px;
  }
  @include tablet{
    font-size: 16px;
  }
}

//header
header{
  width:100%;
  }

.container{
  max-width:$desktop-width;
  margin:0 auto;

}

.header-box{
  padding: 50px;
  width: 100%;
  display:flex;
  @include desktop{
    flex-flow:row;
    justify-content: space-around;
    align-items: center;
  }
}


/* 
Global Att */

// logo starts

.logo-pic {
  width: auto;
}
.logo-pic :hover {
  transform: rotate3d(1, 0, 0, 45deg);
}
// logo ends


// loader starts
.loader {
  border-top: 16px solid rgb(0,255,127);
  border-right: 16px solid rgb(0,191,255);
  border-bottom: 16px solid rgb(255,0,255);
  border-left: 16px solid rgb(220,20,60);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 6s linear infinite;
  position: relative;
  display: inline-flex;
}
.loader-inner {
  border-top: 10px solid #cfdd04dc;
  border-right: 10px solid rgb(255, 166, 0);
  border-bottom: 10px solid rgb(136, 255, 0);
  border-left: 10px solid rgb(20, 33, 220);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 9s linear infinite;
  position: relative;
  display: inline-flex;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
//loader ends


//selection box start

h1 {
  text-align: center;
  font-size: inherit;
  color: $color;
}

.selectors {
  background: white;
  text-align: center;
  width: 150px;
  font-family: "Open Sans";
}
//selection ends


//articles starts
.boxthree {
  @include tablet {
    display: flex;
    flex-wrap: wrap;
  }
}

.articles {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  padding-left:0;
  box-sizing: border-box;
  overflow: hidden;
  img {
    height: 50vh;
    border-radius: 30px;
  }

  @include tablet {
    flex-direction: row;
    li {
      
      flex: 1 0 50%;
    }
  }
  @include desktop {
    li {
      flex: 1 0 25%;
    }
  }
}

.art-content {
  position: relative;
}


//animation

.articles img {
  width: 100%;
  transition: transform .5s, filter 1.5s ease-in-out;
  border: 1px solid #ddd
  ;
  padding: 5px;
  filter: brightness(50%);

.articles a {
    color: $link-colour;
    &:hover {
      color: darken($link-colour, 20%);
      &:visited {
        color: mix($link-colour, rgb(18, 154, 233), 50%);
     }
   }
}
}


.articles img:hover {
  transform: scale(1.1);
  box-shadow: 0 0 2px 6px rgba(0, 140, 186, 0.5);
  filter: brightness(100%);
}

//animation


.text-content {
  position: absolute;
  bottom: 0;
}

p {
  color: white;
  text-decoration-line: none;
  text-align: center;
  margin: auto;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  padding: 8px;
}

// articles end


// footer starts
.boxfour {
  padding: 50px;
}

h2 {
  text-align: center;
  
  position: sticky;
  color: gray;
  text-transform: uppercase;
}
//footer ends


